<br>
<!--<div class="container">-->
    <h2>Student Survey Result</h2>
    <hr>
<!--</div>-->
<%= form_tag(dashboard_path, method: :get, class: 'form-inline') do %>
  <div class="form-group">
    <%= select_tag "year", options_for_select(['1st Year', '2nd Year', '3rd Year', '4th Year', '5th Year', '6th Year'], params[:year]), include_blank: "", class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', :class => "btn btn-primary" %>
<% end %>
  <br>

<% if @dashboard_result.present? %>
<div class="container">
    <% @dashboard_result.each do |d| %>
        <h3><%= d['name'] %><h3>
        <table class="table table-lg table-bordered">
            <thead>
                <tr class="success">
                    <th scope="col"></th>
                    <th scope="col">Excellent</th>
                    <th scope="col">Good</th>
                    <th scope="col">Fair</th>
                    <th scope="col">Bad</th>
                    <!--<th scope="col">E</th>-->
                </tr>
            </thead>
            <tbody>
                <% d['result'].each do |k,v| %>
                    <tr>
                    <th scope="row"><%= k %></th>
                    <td><%= v["A"] %></td>
                    <td><%= v["B"] %></td>
                    <td><%= v["C"] %></td>
                    <td><%= v["D"] %></td>
                    <!--<td><%= v["E"] %></td>-->
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<div>
<% end %>