<% if @survey_form_id.present? %>
  <h2 style="margin-top: 40px;"><%= @survey_form.name %></h2>
    
  <%= form_tag(controller: "survey_results", action: "create_survey_result", method: "post", :html => { :class => "form-horizontal teacher" } ) do %>
    <% if survey_result.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(survey_result.errors.count, "error") %> prohibited this survey_result from being saved:</h2>

        <ul>
        <% survey_result.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :class_survey_name, params[:class_survey_name] %>
    <%= hidden_field_tag :survey_form_id, @survey_form_id %>
    <%= hidden_field_tag :questions, @questions %>
    
    <% @questions.each_with_index do |q, index| %>
      <% if index < 8 %>
        <div class="form-group">
          <%= label_tag "#{q.strip}", q, :class => 'control-label col-lg-6' %>
            <div class="col-lg-16">
              <p>
                <!--<b>Rating</b><br/>-->
                <%= radio_button_tag "rating_#{index}", 'A' %> Excellent
                <%= radio_button_tag "rating_#{index}", 'B' %> Good
                <%= radio_button_tag "rating_#{index}", 'C' %> Fair  
                <%= radio_button_tag "rating_#{index}", 'D' %> Bad  
                <!--<%= radio_button_tag "rating_#{index}", 'E' %> E-->
            </p>

              <!--<%= text_field_tag "#{q.strip}", '', {:class => 'form-control'} %>-->
            </div>
            </divs>
        <% else %>
          <div class="form-group">
            <%= label_tag "#{q.strip}", q, :class => 'control-label col-lg-6' %>
            <%= text_area_tag "#{q.strip}", '', {:class => 'form-control'} %>
          </div>
        <% end %>
      <br/>
    <% end %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= submit_tag "Submit", :class => 'btn btn-primary' %>
      </div>
    </div>
    <br><br>
  <% end %>
<% else %>
  <h4 style="color:red;">No survery form for your class.</h4>
<% end %>
